<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>


<div *ngIf="!loading">

    <app-breadcrumb-menu [namespace]="currentNamespace"></app-breadcrumb-menu>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
        <a [routerLink]="'/repositories/'">
            <div>back to overview</div>
        </a>
    </div>

    <div *ngIf="repositories.size == 0">
        no repositories in registry
    </div>

    <div *ngIf="!repositories.get(currentNamespace)">
        no repositories in namespace '{{currentNamespace}}'
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="dropdown namespace">
                <button [disabled]="repositories.size == 0" class="btn btn-outline-primary dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ currentNamespace }}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <h6 class="dropdown-header">Select a namespace</h6>
                        <button *ngFor="let namespace of otherNamespaces" class="dropdown-item" type="button"
                            (click)="setNamespace(namespace)" [ngClass]="{'active': currentNamespace === namespace}">
                            {{ namespace}}
                        </button>
                        <hr class="dropdown-divider">
                        <h6 class="dropdown-header">Your Account</h6>
                        <button class="dropdown-item" type="button" (click)="setNamespace(userNamespace)"
                            [ngClass]="{'active': currentNamespace === userNamespace}">
                            {{ userNamespace}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let repository of repositories.get(currentNamespace)">
                <app-link-box [routerLink]="'/repositories/' + repository.getRelativePath()">
                    <app-title [segments]="repository.allNamespaces" [title]="repository.name"> </app-title>
                </app-link-box>
            </div>
        </div>
    </div>